@using System.Globalization
@model BOs.Order
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <style>
        html, body {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        table, th, td {
            border: 1px solid #002060;
            border-collapse: collapse;
        }

        th, td {
            padding: 10px;
        }

        th {
            color: black;
            font-weight: bold;
        }
    </style>
    <title>Order Confirmation</title>
</head>
<body style="font-family: 'Roboto', sans-serif;">
    <header style="background-color: #FFE5B4;padding: 20px;">
    </header>
    <main style="display: flex; flex-direction: column; margin-inline: auto; background-color: #f5efe6; padding-inline: 10rem;">

        <h2 class="intro">
            Chân thành cảm ơn bạn <strong>@(Model?.Customer?.Email ?? "khách hàng")</strong> đã mua hàng tại <strong>JewelryShop_Group4</strong>
        </h2>
        <table style="margin: 0 auto">
            <thead>
                <tr>
                    <th style="background-color: #b9d7ea; color: black;">Mã đơn hàng</th>
                    <th style="background-color: #b9d7ea; color: black;">Ngày đặt</th>
                    <th style="background-color: #b9d7ea; color: black;">Tổng giá tiền</th>
                </tr>
            </thead>
            <tbody>
                @if (Model != null)
                {
                    <tr>
                        <td style="white-space: nowrap">@Model.OrderNumber</td>
                        <td>@Model.CreatedAt.ToString("dd/MM/yyyy")</td>
                        <td>@((Model.TotalAmount * 1000).ToString("N0")) VND</td>
                    </tr>
                }
            </tbody>
        </table>
        <p><strong>Chi tiết:</strong></p>
        <div class="info-table-wrapper" style="width: 100%;">
            <table class="info-table" style="width: 100%;">
                <thead>
                    <tr>
                        <th style="background-color: #b9d7ea; color: black;">Tên sản phẩm</th>
                        <th style="background-color: #b9d7ea; color: black;">Số lượng</th>
                        <th style="background-color: #b9d7ea; color: black;">Đơn giá</th>
                        <th style="background-color: #b9d7ea; color: black;">Tổng</th>
                    </tr>
                </thead>
                <tbody style="text-align: center;">
                    @if (Model?.OrderItems != null && Model.OrderItems.Count > 0)
                    {
                        @foreach (var item in Model.OrderItems)
                        {
                            <tr>
                                <td>@item.Product.ProductName</td>
                                <td>@item.Quantity</td>
                                <td>@((item.UnitPrice* 1000).ToString("N0")) VND</td>
                                <td>@((item.Quantity * item.UnitPrice * 1000).ToString("N0"))VND</td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td colspan="4">Không có sản phẩm nào</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <p>Nếu bạn có bất kì thắc mắc, hãy liên hệ ngay với để được giải đáp kịp thời</p>
        <p>Số điện thoại nhân viên: <strong>0123456789</strong></p>
    </main>
</body>
</html>
